
@charset "UTF-8";

body
{
  background-image: linear-gradient(to right, rgb(98, 200, 247), white);
  color: black;
  font-size: 12pt;
  font-family:Arial;
  padding: 30px;
  text-align: center;
}

h1
{   
background-color: aqua;
font-size: 30pt;
font-family:Arial;
text-align: center;
}

h2
{
color: black;
font-size: 20pt;
font-family:Arial;
text-align: center;
}

a
{
color: rgb(5, 28, 233);
font-size: 20pt;
font-family:Arial;
text-decoration: none;
}

p
{
    color: rgb(19, 41, 235);
    font-size: 16pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center; 
}
.p2
{
    text-align: left;
}
.pj
{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
}
.jp
{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}