
@charset "UTF-8";

body
{
  background-image: linear-gradient(to right, rgb(98, 200, 247), white);
  color: black;
  font-size: 12pt;
  font-family:Arial;
  padding: 30px;
  text-align: center;
}

h1, h2
{
  color: write;
  font-size: 30pt;
  text-align: center;
}

a{
  text-decoration: none;
}

.segunda {
  
}